* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content-wrapper {
    flex: 1;
}

.site-footer {
    position: relative;
    background-color: #333; /* Footer background color */
    color: #fff; /* Text color */
    text-align: center; /* Center the text horizontally */
    padding: 10px;
/* Add padding for spacing */
/* Optionally, you can add more styles like font size, etc. */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

/* 
list-style: none = No marker is shown 
/
    }

a {
    color: #34495e;
    text-decoration: none;
    / 
        text-decoration: none - is used here to not show underlining under an anchor element when a mouse hovers over it.
        Comment it out and check the result on the page.
    /
    }

.logo {
    margin: 0;
    font-size: 1.1em;
        }

section {
    padding: 10px 15px;
    margin: 10px;
    display: block;
        / 
            display: block - displays an element as a block element. It starts on a new line, and takes up the whole width
         */
}

.header {
    display: flex;
    width: 100%;
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: #a2ccea;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);

    border-radius: 5px;
}

.nav {
    margin-top: 5px;
    }

.nav a {
    padding: 10px 15px;
    text-align: left;
    display: inline;
    color: #34495e;
    font-size: .99em;
    }

/* Pseudo-class selector */
.nav a:hover {
    background-color: #7ebeb6;
    color: #092747;
            }
/* 
    Applies when the browser's width is 800px wide or wider: 
    */

/*
@media (min-width: 800px) {
.header,
    .nav {
        display: flex;
    }
    .header {
        
        align-items: center;
    }
}
*/



    /* 
    Applies when the browser's width is 1000px wide or wider: 
     */
/*
@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}
*/


.grid {
    border-radius: 10px;
    margin: 20px auto;
    width: 75%;
    border: 1px solid #746161;
    background-color: #ddd;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;

}


.grid p {
    background-color: rgb(177, 164, 164);
    color: white;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}


@media (max-width: 500px)  {
    .grid {
        grid-template-columns: auto;
    }
}

header + section {
    padding-top: 100px;
}

p:hover {
    text-shadow: #092747 2px 2px;
}

section div strong {
    color: red;
}

th {
    color:darkgoldenrod;
}

.logo {
    margin-left: auto;
    }

.button {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
}

.container{
    padding: 20px;
    margin: 30% auto;
    display: block;
    width: 500px;
    text-align: center;
    background-color: #a2ccea;
    border: 6px solid #a2ccea;
    border-radius: 10px;
    margin-top: 20%;
    margin-bottom: 20%;
}
.container input {
    margin-bottom:20px
}

.container Postbody {
    text-align: left;
}
